.user-list {
    margin-left: 100px;
    border: 1px solid black;
    border-radius: 5px;
  }
  
  .user-list h2 {
    font-size: 24px;
    color: #f9f9f9;
  }
  
  .user-list ul {
    list-style-type: none;
    padding: 0;
  }
  
  .user-list li {
    background-color: #f9f9f9;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .user-list li strong {
    color: #007bff;
  }
  
  .user-list li span {
    color: #333;
  }